**/__pycache__
.ipynb_checkpoints/*
.virtual_documents/*
.vscode/*
*.code-workspace
*.html
*.xlsx
*.png
tr_secrets.py
todo.txt
unlocated.txt
interiors.json
historical_ints.json
aggregated_claims.json
aggregated_history.json